---
layout: default
---
<div class="container"><article class="article{% if page.commercial_contact %} has-commercial-contact{% endif %}"><h1 class="page-title">{{ page.title }}</h1>{% if page.commercial_contact %}{% include quick-contact.html %}{% endif %}{{ content }}</article></div>{% if page.commercial_contact %}{% include sticky-contact.html %}{% endif %}
<script type="application/ld+json">{"@context":"https://schema.org","@type":"WebPage","name":{{ page.title | jsonify }},"description":{{ page.description | jsonify }},"url":{{ page.url | absolute_url | jsonify }},"isPartOf":{"@type":"WebSite","name":"OUYANG THERMAL","url":{{ '/' | absolute_url | jsonify }}}</script>
